<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="UserDb" connectionString="Server=DESKTOP-JM75471\SQLEXPRESS;Database=ScoolManagementSystemDb;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="UserLoginSystem.Properties.Settings.ScoolManagementSystemDbConnectionString"
      connectionString="Data Source=DESKTOP-JM75471\SQLEXPRESS;Initial Catalog=ScoolManagementSystemDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
